<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vue-model</title>
    <script src="vue.js"></script>
    
</head>
<body>
    <div id="app">
        {{message}}
        <table border="1px">
            <tr>
                <td>用户名：</td>
                <td><input type="text" v-model="username"></td>
            </tr>
            <tr>
                <td>密码：</td>
                <td><input type="password" v-modek="password"></td>
            </tr>
            <tr>
                <td>确认密码：</td>
                <td><input type="password" v-model="verifypassword"></td>
            </tr>
            <tr>
                <td>性别：</td>
                <td>
                    <input type="radio" name="gender" value="male" v-model="gender">男
                    <input type="radio" name="gender" value="female" v-model="gender">女
                </td>
            </tr>            
            <tr>
                <td>爱好：</td>
                <td>
                    <input type="checkbox" value="football" name="hobby" v-model="hobby">足球
                    <input type="checkbox" value="basketball" name="hobby" v-model="hobby">篮球
                    <input type="checkbox" value="volleyball" name="hobby" v-model="hobby">排球
                    <input type="checkbox" value="pingpong" name="hobby" v-model="hobby">乒乓球
                </td>
            </tr>
            <tr>
                <td>所在城市：</td>
                <td>
                    <!-- 复选框v-model='' 要放在select中 -->
                    <select v-model="city">
                        <option value="11000">北京</option>
                        <option value="12000">上海</option>
                        <option value="13000">深圳</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>个人简历：</td>
                <td><textarea v-model="desc"></textarea></td>
            </tr>
        </table>
        <button v-on:click="register">注册</button>
    </div>
</body>
<script type="text/javascript">
    var app = new Vue({
        el: '#app',
        data: {
            message: 'hello',
            username: '',
            password: '',
            verifypassword: '',
            gender: '',
            hobby: [],
            city: '',
            desc: '',
        },
        methods: {
            register: function(){
                // this 指的是当前的vue实例化对象
                // 使用vue中的data变量的时候，使用this.变量名
                alert(this.username + this.password + this.verifypassword+ this.gender
                + this.hobby+ this.city+ this.desc)
                // alert('123')
            },
        },

    })

</script>
</html>